PORT=5000
MONGO_URI=mongodb://localhost:27017/ecommerce-mern
APP_NAME=SCARLET ROSE
JWT_SECRET=your_jwt_secret_key_sfdfdferewjhrbefk;erfbeirj
SMTP_USER=scarletrose.bn@gmail.com
SMTP_PASS=dmiw yfsl wwjn iwqi
CLOUDINARY_CLOUD_NAME=myuzqmka
CLOUDINARY_API_KEY=863156193493931
CLOUDINARY_API_SECRET=kClVe_apn1sUOeuK_n03zoMwEMA
ADMIN_EMAIL=scarletrose.bn@gmail.com,arunimagioscience97@gmail.com
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=